@import '@angular/material/prebuilt-themes/azure-blue.css';
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
    --primary-color: #12557F;
    --secondary-color: #002E52;
    --terciary-color: #F2EAD9;
    --gradient-primary: linear-gradient(90deg, #F2EAD9 0%, #12557F 100%);
    --text-light: #FFFFFF;
    --text-dark: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}